# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scripting260R.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\wille\Documents\Personal\UVU Animation and Game\GameAnimationSpring2022\Scripting260R\.idea\.idea.Scripting260R\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
